
{% extends 'main/base.html' %}
{% load static %}
{% block title %}Yoon's Portfolio{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>

<div style="height: 60px;"></div>
<div id = "fullpage">
<div class="section " data-anchor="slide1">
  <div class="row justify-content-center my-5 flex-column align-items-center">
    <div class="col-12 col-md-4 text-center">
      <img src="{% static 'images/SC4.jpg' %}" alt="Your Image" class="img-fluid rounded-circle mb-4">
    </div>
    <div class="col-12 text-center d-flex align-items-center flex-column mt-2">
      <h1 class="display-4">안녕하세요, 윤성찬입니다.</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <p>Python을 기반으로 웹 제작부터 배포능력을 갖춘 개발자입니다.</p>

      <p>이 웹 사이트는 AWS EC2 서버를 구축하여 Python Django를 사용하여 제작하였고, </p>
      <p>AWS는 독학하여 IAM Identify Center를 다룰 수 있고, EC2의 보안설정을 사용할 수 있습니다. </p>

      <p>배포를 위해 Gunicorn을 애플리케이션 서버로 사용하였고, Nginx를 리버스 프록시 서버로 설정였습니다.</p>
      <p>포트폴리오 하나에 이렇게 AWS와 도메인비용을 내고 있는 것이 비효율적이라 생각하시겠지만<br>이것도 저것도 잘 할 수 있다는 것을 보여드리고 싶었습니다.</p>

      <p>보안을 위해 Let's Encrypt의 Certbot을 사용하여 무료 SSL 인증서를 발급받아 적용시켰습니다.</p>
    </div>
  </div>
</div>
{% comment %} <div style="height: 180px;"></div> {% endcomment %}

<div class="section" data-anchor="slide2">
  <!-- 첫 번째 주제. 사진은 왼쪽, 텍스트는 오른쪽 -->
  <div class="row my-5">
    <div class="col-12 col-md-6">
      <img src="{% static 'images/yester5.jpeg' %}" alt="Your Image" class="img-fluid rounded" style="max-width:80%">
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center">
      <div>
        <h2>Yoon Seong Chan</h2>
        <p>
          2003~2008 : 대전 양지 초등학교<br>
          2009~2011 : 대전 송촌 중학교<br>
          2012~2014 : 동대전고등학교<br>
          2015~ : 용인대학교(체육학과/미졸업)<br>
          
          2022.03~2022.08 : 미래융합교육학원 빅데이터UI 개발자과정<br>
          2023.02~2023.08 : 성균관대 K-Digital 협업 필터링 및 자연어 처리 기반 A.I추천 분석 시스템 제작 과정 3기<br>
          2023.11~2024.02 : 금강산업 Full Stack Developer<br>
          2024.01~현재 : DINOLABS스터디 1기 ~ 활동중</p>
        </p>
      </div>
    </div>
  </div>
</div>
{% comment %} <div style="height: 150px;"></div> {% endcomment %}

<div class="section" data-anchor="slide3">
  <!-- 두 번째 주제. 사진은 오른쪽, 텍스트는 왼쪽 -->
  <div class="row my-5">
    <div class="col-12 col-md-6 d-flex align-items-center">
      <div>
        <h2>Overcome</h2>
        <p>학창시절 거짓말 같겠지만 공부를 좋아했습니다.
          <br>수학문제가 풀리지 않을 때엔
          <br>밤을 새서라도 문제를 풀어냈고
          <br>트레이너로 근무하던 당시에도 
          <br>해부학, 생리학, 심리학, 교육학 등의 공부를 부지런히 하였습니다.
          <br>갖은 방법과 최선의 노력을 해보았습니다. 
          <br><strong>'안 되면 되게 하라, 되면 완벽하게 하라'</strong>는 마인드로 살고 있습니다.
        </p>
      </div>
    </div>
    
    <div class="col-12 col-md-6">
      <img src="{% static 'images/overcome.jpeg' %}" alt="Your Image" class="img-fluid rounded" style="max-width:80%">
    </div>
  </div>
</div>
{% comment %} <div style="height: 150px;"></div> {% endcomment %}

<div class="section" data-anchor="slide4">
  <!-- 세 번째 주제. 사진은 왼쪽, 텍스트는 오른쪽 -->
  <div class="row my-5">
    <div class="col-12 col-md-6">
      <img src="{% static 'images/open_minded.jpeg' %}" alt="Your Image" class="img-fluid rounded" style="max-width:90%">
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center">
      <div>
        <h2>Open-minded</h2>
        <p>개발 쪽 공부를 시작하고 여러 사람들과 프로젝트를 다양하게 했었습니다.<br>
          서로의 역할을 분업하여 큰 어려움 없이 프로젝트를 완성할 수 있었습니다.<br>
          Project 탭에서 팀으로 진행했던 Troll_Batta와 기억의 미로 게임을 살펴볼 수 있습니다.<br>
          현재는 트롤빠따라는 이름으로 riot api 개발자 등록을 하여 새 프로젝트를 진행중에 있습니다.


        </p>
      </div>
    </div>
  </div>
</div>
{% comment %} <div style="height: 150px;"></div> {% endcomment %}

<div class="section" data-anchor="slide5">
  <!-- 네 번째 주제. 사진은 오른쪽, 텍스트는 왼쪽 -->
  <div class="row my-5">
    <div class="col-12 col-md-6 d-flex align-items-center">
      <div>
        <h2>Objective</h2>
        <p>목적이 있으면 끝까지 놓지 않습니다.</p>
        <p>제 목표 중에 하나는 League of legends 게임의<br>
          AI 트롤전적 분석 사이트를 만드는 것입니다.<br>
          이를 위해서 직접 개발도 하고 게임에도 참여하고,<br>
          많은 사람들을 만나 지식 교류를 멈추지 않고 있습니다.</p>
          <p>
            현재는 저의 기본기가 너무 부족하다는 생각에 자료구조와 알고리즘을 다시 공부하고 있습니다.<br>
            이를 위해 C언어를 통해 pointer라는 개념을 통해 메모리를 공부하고 있습니다.(24.09.01~)<br>
          </p>

      </div>
    </div>
    <div class="col-12 col-md-6" style = 'padding:5px;'>
      <img src="{% static 'images/tiergraph.png' %}" alt="Your Image" class="img-fluid rounded" style="height:65%; margin-top:30px;">
    </div>
  </div>
</div>
{% comment %} <div style="height: 150px;"></div> {% endcomment %}

<div class="section" data-anchor="slide6">
  <!-- 다섯 번째 주제. 사진은 오른쪽, 텍스트는 왼쪽 -->
  <div class="row my-5">
    <div class="col-12 col-md-6 d-flex align-items-center">
      <div>
        <h2>Never giving up</h2>
        <p>포기하지만 않는다면 안되는 것은 없습니다.</p>
        
      </div>
    </div>
    <div class="col-12 col-md-6">
      <img src="{% static 'images/nimble.jpeg' %}" alt="Your Image" class="img-fluid rounded" style="max-width:80%">
    </div>
  </div>
</div>
  {% comment %} <div style="height: 150px;"></div> {% endcomment %}
</div>
<script>
  new fullpage('#fullpage', {
    //options here
    autoScrolling:true,
    scrollHorizontally: true,
    anchors:['slide1', 'slide2', 'slide3', 'slide4', 'slide5', 'slide6'],
    navigation: true,
    navigationTooltips: ['Hi i\'m', 'Y', 'O', 'O', 'O', 'N'],
    showActiveTooltip: true
  });
</script>
<style>
/* 마우스가 올라가면 툴팁을 보여줌 */
.fp-nav:hover .fp-tooltip {
    visibility: visible;
    opacity: 1;
}

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: black;
  font-size: 14px;
  font-family: arial,helvetica,sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer;
}
</style>
{% endblock %}
