anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow==1.2.3
asgiref
asttokens
attrs
backcall
backports.functools-lru-cache
beautifulsoup4
bleach
certifi==2023.5.7
cffi
charset-normalizer==3.2.0
comm
debugpy
decorator
defusedxml
Django
django-extensions==3.2.3
djangorestframework==3.14.0
entrypoints
exceptiongroup
executing
fastjsonschema
flit_core
fqdn==1.5.1
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets
isoduration==20.11.0
jedi
Jinja2
joblib==1.3.1
jsonpointer==2.4
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
MarkupSafe
matplotlib-inline
mistune
nbclassic
mysqlclient==2.1.1
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy==1.24.4
overrides
packaging
pandas==2.0.3
pandocfilters
parso
pexpect
pickleshare
Pillow==10.0.0
pkgutil_resolve_name
prometheus-client
prompt-toolkit
psutil
psycopg2
ptyprocess
pure-eval
pycparser
Pygments
pyrsistent
python-dateutil
python-dotenv==1.0.0
python-json-logger
pytz
PyYAML
pyzmq
qtconsole==5.4.3
QtPy==2.3.1
requests==2.31.0
rfc3339-validator
rfc3986-validator
scikit-learn==1.3.0
scipy==1.10.1
Send2Trash
six
sniffio
soupsieve
sqlparse
stack-data
terminado
threadpoolctl==3.2.0
tinycss2
tornado
tqdm==4.65.0
traitlets
typing-utils
typing_extensions
tzdata==2023.3
uri-template==1.3.0
urllib3==2.0.3
wcwidth
webcolors==1.13
webencodings==0.5.1
websocket-client
widgetsnbextension
zipp
